*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'PodiumSharp';
    src: url('./fonts/podiumsharp.otf') format('truetype'); /* Ruta relativa al archivo */
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary-color:#03226a;
    --secundary-color:#fff;
    --primary-font: 'PodiumSharp', sans-serif;
    --secundary-font:  "Roboto", serif;
    --colores-enlaces:#058bce;
}

body{
    font-family: var(--secundary-font);
    background: #000;
    overflow-x: hidden; /* Bloquea el scroll horizontal */
    overflow-y: auto; 
}

.contenedor{
    display: flex;
    flex-direction: column;

}
.section-1{
    background-image: url('./img/ny.jpg') ;
    background-size: 100% 130%;
    background-position: -20% center;
    width: 100%;
    height:100vh; 

}
.black{
    position: relative;
    width: 100% ;
    height: 86.7%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%);
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    color: var(--secundary-color);
    flex-wrap: nowrap;
}

.nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    flex-wrap: nowrap;
}

.nav ul a{
    text-transform: uppercase;
    transition: .4s ease all;
    text-decoration: none;
    color: var(--secundary-color);
    padding: 10px;
    text-transform: uppercase;
    transition: .5s ease all;
}

.nav ul  a:hover{
    cursor: pointer;
    transform: translateY(-4px);
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-top: -15px;
  
}
.social-media > a, i{
    text-decoration: none;
    color: var(--secundary-color);
    padding: 10px;
    text-transform: uppercase;
    transition: .5s ease all;
}
.social-media i{
    font-size: 25px;
    color: var(--secundary-color);
}

.social-media > a:hover, i:hover{
    transform: translateY(-4px);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secundary-color);
    font-size: 45px;
    background: transparent;
    z-index: 5;
}
.main h1{
    position: absolute;
    padding-top: 460px;
    z-index: 2;
    color: var(--secundary-color);

}
.invert{
    mix-blend-mode: difference;
    
}

.main p{
    position: absolute;
    padding-top: 610px;
    z-index: 999;
}
/* Flechas scroll */

.scroll-indicator {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .8;
    z-index: 100;
}

.scroll-indicator i {
    font-size: 24px;
    color: #c5c4c4;
    margin: -13px 0;
    animation: move-down 2s infinite;
}


/* Animaciones escalonadas para cada flecha */
.scroll-indicator i:nth-child(1) {
    animation-delay: 0s;
}
.scroll-indicator i:nth-child(2) {
    animation-delay: 0.3s;
}


@keyframes move-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.section-2{
    margin: 20% 0;
    width: 100vw;
    height: auto;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-2 h1{
    color: var(--secundary-color);
    font-family: var(--secundary-font);
    font-size: 45px;
    margin-top: -150px;
    
}


.slider{
    width: 75vw;
    padding: 60px 0;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
    white-space: nowrap;
}
.slide-track{

    display: inline-block;
    animation: slide 10s infinite linear;
}

.slider .slide-track img{
    height: 50px;
    margin: 0 40px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.contenedor-targets{
    margin: 150px 0;
    width: 100vw;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.target{
    margin: 50px 0;
    color: #fff;
    padding: 20px;
    width: 70%;
    height: auto;
    background: #0D0D0D;
    border-radius: 20px; /* Hace el div circular */
    box-shadow: 0 0 30px rgba(32, 32, 32, 0.5); /* Brillo exterior */
    display: flex;
}
.target .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 0;
    width: 50%;
}
.target .info{
    width: auto;
    margin: 80px 10px;
}
.target a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colores-enlaces) ;
}
.target img{
    margin: 20px;
    width: 180px;
    height: auto;
    border-radius: 20px;
}
.target .info p{
    margin-bottom: 20px;

}
.target .info a {
    margin-bottom: 20px;
    transition: all ease .6s;
    background: #35b4f4;
    color: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}
.target .info a:hover {
    font-size: 1.04em;
}
.section-3{
    margin: -50px 0;
    width: 100vw;
    height: auto;
    background: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quote{
    margin: 0 50px 0 0;
    padding: 0;
    width: 40%;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto", serif;
    font-weight: 200;
}
.form-container{
    margin: 0 0 0 180px;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-container h2{
    color: var(--secundary-color);
    font-size: 45px;
}
.form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    width: 100%;
}
.form-group input{
    width: 100%;
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    border: none; /* Elimina los bordes */
}

.form-group textarea{
    width: 100%;
    min-height: 120px;
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    resize: vertical; 
    overflow: auto; 
}
.form-container button{
    width: 100%;
    margin:20px ;
    padding: 20px;
    border-radius: 20px;
    background: #00aaff;
    color: #fff;
    font-size: 16px;
    border: none; /* Elimina los bordes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado leve */
    transition: 0.5s ease all; 
}
.form-container button:hover{
    cursor: pointer;
    background: #0094de;
    width: 101%;
    transform: translateY(-4px);
}

footer{
    font-family: "Roboto", serif;
    font-weight: 100;
    color: #fff;
    font-size: 12px;
    padding: 0 0 40px 40px;

}

footer span {
    color: #c5c4c4;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
   .nav ul{
    display: none;
   }
   .main{
    font-size: 30px;
    padding: 20px;
   }
   .section-2{
    margin: 40% 0;
   }
   .target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   .contenedor-targets .title {
    width: 100%;
    margin: 0 10px;
   }

   .target .title img{
    margin: 40px 0;
   
   }
   .target .info {
    margin: 0 40px;
    width: 100%;

   }
   .target .info p{
    margin-bottom: 40px;
    text-align: justify;
   }
   .target .info a {
    position: relative;
    bottom: 10px; 
   }
   
   .section-3{
    display: flex;
    flex-direction: column;
   }
   .form-container{
    width: 100%;
    margin: auto;
   }
   .form-group{
    width: 70%;
   }
   .form-container button{
    width: 70%;
   }
   .quote{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   .quote p{
    margin: 60px 0 0 40px;
   }
   footer{
    margin: auto;
    padding: 20px 0;
   }
  }